name: Awesome Lint

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: Run Awesome Linter
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - name: Install Awesome Lint
      run: npm install -g awesome-lint
    - name: Run Awesome Lint
      run: awesome-lint README.md
